{% extends 'base.html' %} {% block content %}

<main>
  <section class="card card-body">
    <h1 class="display-1 text-center">Paseadores estrella</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit parturient integer
      lectus, vehicula consequat pulvinar ac feugiat egestas ultrices mauris
      molestie odio, scelerisque sem penatibus elementum pharetra habitasse
      sociis suspendisse iaculis. Vivamus netus ligula sapien faucibus commodo
      nibh sociis pellentesque proin, blandit sem euismod etiam sollicitudin
      primis posuere conubia cubilia, risus accumsan aptent laoreet inceptos
      diam vel in. Tristique litora justo urna lacus vitae tortor, hac sagittis
      posuere mus nostra vehicula elementum, ullamcorper aenean quam velit
      feugiat. Libero volutpat curae nibh congue primis turpis integer, quam
      habitant venenatis laoreet pharetra vivamus, fames lobortis dapibus
      inceptos nisl ante. Tortor cras fringilla curae fusce sollicitudin euismod
      leo, quis turpis aenean posuere mollis lacus vivamus etiam, habitant orci
      mi facilisis at nisl. Egestas gravida donec commodo class posuere montes
      facilisi vulputate aliquet torquent mi rhoncus dapibus augue volutpat,
      sodales ultricies cum potenti fusce proin in tristique senectus ut varius
      rutrum dictum convallis.
    </p>
    <div class="text-center">
      <a class="btn btn-primary" href="/signin/"> Sign in </a>

      <a class="btn btn-primary" href="/signup/"> Sign up </a>
    </div>
  </section>
</main>

{% endblock %}
